{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center rounded" style="width: 40vw;">
    <form method="post">
        <h2 class="text-center">Criar Sala</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit" class="btn btn-success">Reservar</button>
            <a href="{% url 'reserve_list' %}" class="btn btn-secondary ">Cancelar e Voltar para a Lista de Reservas</a>
        </p>
    </form>
</div>
{% endblock %}