{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Lista de Salas</h2>
    <a href="{% url 'create_room' %}" class="btn btn-primary float-end mb-3">Criar Nova Sala</a>
    <table class="table table-striped table-bordered table-responsive">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Localização</th>
                <th scope="col">Descrição</th>
                <th scope="col">Equipamentos</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.location }}</td>
                <td>{{ room.description }}</td>
                <td>{% for equipment in room.equipments.all %}{{ equipment }}, {% endfor %}</td>
                <td>
                    <a href="{% url 'room_availability' room.id %}" class="btn btn-primary btn-sm">Ver Disponibilidade</a>
                    <a href="{% url 'room_detail' room.id %}" class="btn btn-sm btn-info">Informações</a>
                    <a href="{% url 'update_room' room.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'delete_room' room.id %}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
