{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7" style="width: 45vw;">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Adicionar Equipamento</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <p><label for="nome">Nome do Equipamento:</label></p>
                            <p><input type="text" class="form-control" id="name" name="name" 
                            placeholder="Digite o nome do equipamento" required></p>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-success btn-block">
                                Adicionar Equipamento</button>
                            <a href="{% url 'equipment_list' %}" class="btn btn-secondary">
                                Cancelar e Voltar para a Lista de Equipamentos</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}