{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Painel Administrativo - Relatórios de Uso das Salas</h1>
    <hr>

    <!-- Total de reservas confirmadas -->
    <div class="alert alert-info">
        <h4>Total de Reservas Confirmadas: {{ total_reserves }}</h4>
    </div>

    <!-- Salas mais usadas -->
    <div class="card mt-3">
        <div class="card-header">
            <h5>Salas Mais Usadas</h5>
        </div>
        <ul class="list-group list-group-flush">
            {% for room in reservations_by_room %}
            <li class="list-group-item">
                {{ room.room__name }} - {{ room.total }} reservas
            </li>
            {% empty %}
            <li class="list-group-item">Nenhuma reserva encontrada.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Gráfico de Reservas por Mês -->
    <div class="card mt-3">
        <div class="card-header">
            <h5>Reservas por Mês</h5>
        </div>
        <ul class="list-group list-group-flush">
            {% for month in reservations_by_month %}
            <li class="list-group-item">
                Mês {{ month.month }}: {{ month.total }} reservas
            </li>
            {% empty %}
            <li class="list-group-item">Nenhuma reserva encontrada.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h5>Gráfico de Reservas por Sala</h5>
        </div>
        <div class="card-body">
            <canvas id="reservasPorSalaChart"></canvas>
        </div>
    </div>
    
    <script>
        var labels_data = [{% for room in reservations_by_room %}'{{ room.room__name }}',{% endfor %}];
        console.log(labels_data)
        var reservations_data = [{% for room in reservations_by_room %}{{ room.total }},{% endfor %}];
        console.log(reservations_data)
    </script>
</div>
<script src="{% static 'js/charts.js' %}"></script>
{% endblock %}