{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Painel Administrativo - Relatórios de Uso das Salas</h1>
    <hr>

    <!-- Total de reservas confirmadas -->
    <div class="alert alert-info">
        <h4>Total de Reservas Confirmadas: {{ total_reserves }}</h4>
    </div>

    <a href="{% url 'exportar_relatorio_completo' %}" class="btn btn-primary">Gerar Relatório PDF</a>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Salas Mais Utilizadas</h5>
                </div>
                <div class="card-body">
                    <canvas id="reservasPorSalaChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Frequência de Reservas por Mês</h5>
                </div>
                <div class="card-body">
                    <canvas id="reservasPorMesChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Horário de Pico de Reservas</h5>
                </div>
                <div class="card-body">
                    <canvas id="horarioPicoChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* Reservas por Sala */
    var labels_data = [{% for room in reservations_by_room %}'{{ room.room__name }}', {% endfor %}];
    var reservations_data = [{% for room in reservations_by_room %} {{ room.total }}, {% endfor %}];

    /* Horário de Pico de Reservas */
    var lb_data = [{% for hour in peak_times %} '{{ hour.hour }}:00', {% endfor %}];
    var peak_data = [{% for hour in peak_times %} {{ hour.total }}, {% endfor %}];

    /* Frequência de Reservas por Mês */
    var lbl_data = [{% for month in reservations_by_month %} '{{ month.month }}', {% endfor %}];
    var reserve_data = [{% for month in reservations_by_month %} {{ month.total }}, {% endfor %}];
</script>

<script src="{% static 'js/charts2.js' %}"></script>
{% endblock %}